
$background: #fff;
$text-black: rgb(10,11,13);
$text-grey: rgb(91,97,110);
$text-blue: rgb(0,82,255);

$display1-font-size: 64px;
$display1-line-height: 72px;
$display1-font-weight: 400;

$display2-font-size: 34px;
$display2-line-height: 44px;
$display2-font-weight: 400;

$input-font-size: 40px;

$mobile: 768px;