@use '../../sass' as *;

.conversion-number {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: $input-font-size;
  color: $text-grey;
}