@use '../../sass' as *;

.conversion-select {
  width: 100%;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;

  &--title {
    padding: 1rem 1.5rem 0.8rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: $text-grey;
  }

  &--dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    border: 1px solid $border-color;
    border-top: none;
    background-color: white;
    z-index: 1;

    &__open {
      visibility: visible;
      opacity: 1;
      width: 100%;
      top: 3.5rem;
      left: 0;
    }
  }

  &--item {
    @include flex(flex-start, flex-start);
    padding: 1rem 1.5rem 0.8rem;
    cursor: pointer;
    background: $background;
    font-weight: bold;

    &:hover {
      background-color: $border-color;
    }
  }
}